<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada por superar el número máximo de intentos fallidos permitidos.</p>

<p>Haga click para recuperar su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
